<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to("Home", {:action => 'index'})  %><br />
<%= link_to("Product", {:action => 'product'})  %><br />
<%= link_to("About", {:action => 'about'})  %><br />
<%= link_to("Contact", {:action => 'contact'})  %><br />
<%= yield %>

</body>
</html>
